.inicio{
    margin-top: 20px;
}

.hr2{
    width: 18%;
    opacity: 0.12;
    margin-right: 472px;
}

.catalogo{
    margin-top: 45px;
    margin-right: -35px;
}

.products{
    display: inline-block;
    margin: 30px 40px;
    width: 19%;
}

.product-w{
    background-color: rgb(252, 252, 252);
    height: 320px;
    border: .5px #eee solid;
}

.images{
    margin-top: 30px;
    margin-left: 7px;
    height: 140px;
}

.titulo-s{
    margin-top: 15px;
    margin-left: 7px;
    color: black;
}

.precio-s{
    margin-top: -2px;
    color: rgb(118, 189, 11);
}

.v-{
    height: 10px;
    opacity: .3;
    color: rgb(140, 140, 143);
}

.v-:hover{
    transition: 100ms;
    opacity: .7;
    text-decoration: underline;
}

.product-w:hover{
    zoom: 2;
    transition: 150ms;
    box-shadow: gray 1px 1px 3px 1px;
}

.links{
    text-decoration: none;
}